@import url("https://fonts.googleapis.com/css2?family=Abel&family=Oswald:wght@400&family=Poppins:wght@300;400;500;600;700&display=swap");

/* CSS styles using root variables */
:root {
    /* Fonts */
    --font-oswald: "Oswald", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-abel: "Abel", sans-serif;

    /* Colors */
    --color-primary: #e91a1a;
    --color-secondary: #407cdc;
    --color-text: #123456;
    --color-highlight: #d4af37;
    --gradient-color1: #d4af37;
    --gradient-color2: #fedc69;

    /* Font Sizes */
    --font-size-title: 35px;
    --font-size-h2: 28px;
    --font-size-h3: 23px;
    --font-size-h4: 20px;
    --font-size-body: 12px;
    --font-size-meta: 9px;

    /* Font Weight */
    --font-weight-light: 100;
    --font-weight-medium: 400;
    --font-weight-bold: 900;

    /* Other Styles */
    --border-radius-card: 5px;
    --padding-general: 5px 15px 15px 15px;
    --divider-thickness: 0px;
    --tag-padding: 15px;
}

body {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    background: #123456;
}

h1 {
    font-family: var(--font-oswald);
    font-size: var(--font-size-title);
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}
h2,
h3,
h4 {
    font-family: var(--font-abel);
    text-transform: uppercase;
}
h2 {
    font-size: var(--font-size-h2);
    color: var(--color-secondary);
}
h3 {
    font-family: var(--font-poppins);
    font-size: var(--font-size-h3);
    color: var(--color-primary);
    padding: var(--padding-general);
}
h4 {
    font-size: var(--font-size-h4);
    color: var(--color-secondary);
}

p,
ul,
ol {
    font-family: var(--font-poppins);
    font-size: var(--font-size-body);
    padding-left: 20px;
}

a {
    font-family: var(--font-poppins);
    font-weight: 200;
    font-size: var(--font-size-body);
    color: var(--color-highlight);
    text-decoration: none;
}
a:hover {
    font-family: var(--font-poppins);
    font-weight: 600;
    color: varcalc(--color-primary);
}

.lesson-metadata {
    border-radius: var(--border-radius-card);
    padding: var(--padding-general);
    font-family: var(--font-abel);
    font-size: var(--font-size-meta);
    background: #fefefe;
    font-style: unset;
}

.divider {
    border: var(--divider-thickness) solid;
    background: linear-gradient(90deg, var(--gradient-color1), var(--gradient-color2), var(--gradient-color1));
    margin: 20px 0;
}

.tag-box {
    background-color: var(--color-text);
    color: var(--gradient-color2);
    font-family: var(--font-abel);
    padding: var(--tag-padding);
}

.reflection-section {
    opacity: 0.7;
}

/* Lightbox Styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.lightbox-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    position: relative;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

/* Inject Contanaire visibility */
.inject-container {
    display: none;
}

.inject-container.show {
    display: block;
}

#template {
    /* Make sure it's treated like a block element */
    width: 100%; /* Ensure it takes the full width available */
    margin-top: 20px; /* Adds some space from the form */ /* Centers the content inside */
}
